@media (max-width: 1200px) {
    
    /* about */
    
    .about-us .row > .col-lg-6:first-of-type {
        left: -10px;
    }
    .about-us .small-container .text-right p {
        width: 70%
    }
    .about-us .item {
        width: 150px
    }
    .about-us .item img {
        height: 125px
    }
    .about-us .item:first-of-type {
        left: 440px;
        bottom: 154px;
    }
    .about-us .item:nth-of-type(2) {
        left: 167px;
        bottom: 153px;
    }
    .about-us .item:nth-of-type(3) {
        top: 149px;
        left: 19px;
    }
    .about-us .item:last-of-type {
        left: 305px;
        top: 132px;
    }
    
    .about-us .row > div > .item:nth-of-type(3) img {
        position: static
    }
    
    .about-us .row > div > .item:nth-of-type(3) p {
        display: none;
    }

    /* agency */
    
    .agency img:first-of-type, .agency img:last-of-type {
        width: 150px
    }
    .agency .container > div > div img {
        max-width: 400px;
        width: 100%;
    }
    .agency .container > div h2 {
        bottom: 87px;
        left: 164px;
        font-size: 30px;
    }
    .agency .container > div h2 {
        display: none;
    }

}

@media (max-width: 992px) {
    
    /* header */
    
    header h1 {
        font-size: 65px !important;
    } 
    
    /* navbar */
    
    .navbar ul {
        background-color: rgba(189, 140, 191, .85);
    }
    .navbar ul li {
        margin: 10px 0;
    }
    nav.navbar form {
        width: 100%;
        position: static;
    }
    
    /* about */
    
    .about-us .small-container > p + div {
        padding: 50px 0;
    }
    .about-us .row > .col-lg-6:first-of-type {
        height: 350px;
        left: 50px;
    }
    .about-us .small-container .text-right p {
        width: 100%;
    }
    
    /* services */
    
    .services .slide {
        width: 80%
    }
    
    .services .carousel-control-next, .services .carousel-control-prev {
        width: 50px;
        height: 50px;
    }
    
    /* agency */
    
    .agency img:first-of-type, .agency img:last-of-type {
        display: none
    }
    .agency .container > div > div img {
        display: block;
    }
    .agency .container > div {
        width: 56%;
    }
    
    /* statistics */
    
    .statistics .col-lg-3 {
        margin-bottom: 40px
    }
    
    /* contact */
    
    .contact .contact-form {
        width: 70%
    }
    
    /* footer */
    
    footer .col-lg-3 {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 50px !important;
    } 
    
    /* about */
    
    .about-us .row > .col-lg-6:first-of-type {
        display: none;
    }
    
    /* services */
    
    .services .slide {
        width: 90%
    }
    .services .carousel-control-next, .services .carousel-control-prev {
        display: none;
    }
    
    /* agency */
    
    .agency .container > div {
        width: 87%;
    }
    
}